{% extends 'Website/base.html' %}

{% block body %}
<center><h2>Awesome Restaurant</h2></center>
<br>
<center><a href="">Steak Island</a> - Brisbane</center>
<br>
<center>
<table style="width:500px;border: 1px solid black;">
    <tr>
    <th style="border: 1px solid black">Steaklover</th>
    </tr>
    <tr>
        <td>The best restaurant ever, they had steak, steak and even more steak!!!</td>
    </tr>
</table>
<br>
<table style="width:500px;border: 1px solid black;">
    <tr>
    <th style="border: 1px solid black">xXxDontkillAnimalsxXx</th>
    </tr>
    <tr>
        <td>I think they should have you for dinner instead! </td>
    </tr>
</table>
<br>

<table style="width:500px;border: 1px solid black;">
    <tr>
    <th style="border: 1px solid black">steak_master</th>
    </tr>
    <tr>
        <td>I think the user above should eat a steak and experience the wonders of eating the most delicous food known to man</td>
    </tr>
</table>
<br>
</center>

<center>
    <h2>Add reply below:</h2>
    <textarea rows='5' cols='50'></textarea>
    <br>
    <input type="submit" value="Reply">
</center>

{% endblock %}