{% extends 'music/base.html' %}
{% block title %} {{ album }} {% endblock %}
{% block albums_active %} active {% endblock %}

{% block body %}
    <div class="container-fluid songs-container">
        <div class="row">

            <!-- Left Album Info -->
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'music:detail' album.id %}">
                            {% if album.album_logo %}
                                <img src="{{ album.album_logo.url }}" class="img-responsive"/>
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                        <h1>{{ album.album_title }} <small> {{ album.genre }}</small></h1>
                        <h2>{{ album.artist }}</h2>
                    </div>
                </div>
            </div>


            <div class="col-sm-8 col-md-9">

                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <!-- View All Button -->
                    <li role="presentation" class="active">
                        <a href="{% url 'music:detail' album.id %}">View All</a>
                    </li>
                    <!-- Edit Album Button -->
                    <li role="presentation" class="active">
                        <a href="{% url 'music:album-update' album.id %}">Edit Album</a>
                    </li>
                    <!-- Add New Song Link -->
                    <li role="presentation" class="active">
                        <a href="{% url 'music:song-add' %}">Add New Song</a>
                    </li>
                </ul>

                <!-- Right Song Info -->
                <div class="panel panel-default">
                    <div class="panel-body">

                        <h3>All Songs</h3>

                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}

                        <!-- Display Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Audio Files</th>
                                <th>Favourite</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for song in album.song_set.all %}
                                <tr>
                                    <td>{{ song.song_title }}</td>
                                    <td>
                                        {% if song.audio_file.url %}
                                            <a target="#" href="{{ song.audio_file.url }}">
                                                <button type="button" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                                </button>
                                            </a>
                                        {% else %}
                                            <label class=" btn btn-default btn-file">Browse...
                                                <input type="file" style="display: none;"/>
                                            </label>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="#" class="btn-favorite">
                                            <span class="{% if song.is_favourite %}glyphicon glyphicon-star{% endif %}"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <form action="" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-default btn-xs">
                                                <a href="{% url 'music:song-update' song.id %}" style="text-decoration: none">
                                                    <span class="glyphicon glyphicon-cog"></span>&nbsp; Edit
                                                </a>
                                            </button>
                                        </form>
                                        <form action="{% url 'music:song-delete' song.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="song_id" value="{{ song.id }}"/>
                                            <button type="submit" class="btn btn-danger btn-xs">
                                                <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}