<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Website/css/default.css' %}">
		<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>CityInformation</title>
</head>
<body>
	{% if user.username %}
	<div class="the-menu">
    <button class="dropbtn" id="welcome-btn">Hello {{ user.username }}!  <img class="menu-icons" src="{% static 'Website/images/happy.png' %}" alt=" happy.png" /></button>
	{% load static %}
	<button class="dropbtn" onclick="location.href = '/Website/'">Home <img class="menu-icons" src="{% static 'Website/images/home.png' %}" alt=" home.png" /></button>
	<button class="dropbtn" onclick="location.href = '#'">My Favourites  <img class="menu-icons" src="{% static 'Website/images/fav.png' %}" alt=" fav.png" /></button>
	<button class="dropbtn" onclick="location.href = '#'">My Reviews  <img class="menu-icons" src="{% static 'Website/images/review.png' %}" alt=" review.png" /></button>
		<div class="dropdown">
		<button class="dropbtn">City <img class="menu-icons" src="{% static 'Website/images/city.png' %}" alt=" city.png" /></button>
		<div class="dropdown-content">
		<a href="/Website/Brisbane/">Brisbane</a>
		<a href="/Website/Sydney">Sydney</a>
		<a href="/Website/Melbourne">Melbourne</a>
		<a href="/Website/Canberra">Canberra</a>
		<a href="/Website/Perth">Perth</a>
		<a href="/Website/Adelaide">Adelaide</a>
		<a href="/Website/Darwin">Darwin</a>
		<a href="/Website/Hobart">Hobart</a>
		</div></div>
					<button class="dropbtn" onclick="location.href = '/Website/logout'">Logout  <img class="menu-icons" src="{% static 'Website/images/logout.png' %}" alt=" logout.png" /></button>
	<form action='/Website/search/' method="GET">
		<input type="text" name="search_name">
		<select name='info_type' required>
			<option value='9'>All</option>
			<option value='0'>College</option>
			<option value="1">Library</option>
			<option value="2">Industry</option>
			<option value="3">Hotel</option>
			<option value="4">Park</option>
			<option value="5">Zoo</option>
			<option value="6">Museum</option>
			<option value="7">Restaurant</option>
			<option value="8">Mall</option>
		</select>
		<input type="submit" value="Search">
		<label>Sort By: </label>
		<input type="radio" name="sorting_options" value="name" checked>Name Asc
		<input type="radio" name="sorting_options" value="-name">Name Desc
		<input type="radio" name="sorting_options" value="pk">Oldest Added
		<input type="radio" name="sorting_options" value="-pk">Newest Added
	</form>				
	</div>
        {% else %}
		<div class="the-menu">
	{% load static %}
	<button class="dropbtn" onclick="location.href = '/Website/'">Home <img class="menu-icons" src="{% static 'Website/images/home.png' %}" alt=" home.png" /></button>
	<button class="dropbtn" onclick="location.href = '/Website/login/'">Login <img class="menu-icons" src="{% static 'Website/images/login.png' %}" alt=" login.png" /></button>
	<button class="dropbtn" onclick="location.href = '/Website/register/'">Register  <img class="menu-icons" src="{% static 'Website/images/register.png' %}" alt=" register.png" /></button>
	<div class="dropdown">
		<button class="dropbtn">City <img class="menu-icons" src="{% static 'Website/images/city.png' %}" alt=" city.png" /></button>
		<div class="dropdown-content">
		<a href="/Website/Brisbane/">Brisbane</a>
		<a href="/Website/Sydney">Sydney</a>
		<a href="/Website/Melbourne">Melbourne</a>
		<a href="/Website/Canberra">Canberra</a>
		<a href="/Website/Perth">Perth</a>
		<a href="/Website/Adelaide">Adelaide</a>
		<a href="/Website/Darwin">Darwin</a>
		<a href="/Website/Hobart">Hobart</a>
		</div>
	</div>
	</div>
	{% endif %}
	
{% block body %}
{% endblock %}
</body>
</html>
