{%  extends 'Website/base.html' %}
{% block body %}
{{ locationinfo }}
{% load favorite_tags %}  <!-- Loading the template tag -->

{% get_fav_count locationinfo %}  <!-- Include the number of people 'favorited' a certain object -->

<!-- authentication is required for users to use our functionality, however there's an implemented tag for unauthenticated users -->
{% if user.is_authenticated %}
	{%  get_fav locationinfo user %}  <!-- for unauthenticated users -->
{% else %}
	{% get_fav_nouser locationinfo request %} <!-- for authenticated users -->
{% endif %}

{% load static %}
<script src="{% static 'js/fav.js' %}">
</script>
{%  endblock %}





