{% extends 'Website/base.html' %}

{% block body %}
<!-- 
{% if not user.profile.user_type %}
	<center><h3>Welcome!</h3></center>
{% endif %}
<div id="map" style="width:100%;height:400px;"></div>
	<script>
		function myMap() {
		  var myCenter = new google.maps.LatLng({{city.latitude}}, {{city.longitude}});
		  var mapCanvas = document.getElementById("map");
		  var mapOptions = {center: myCenter, zoom: 10};
		  var map = new google.maps.Map(mapCanvas, mapOptions);
		  var marker = new google.maps.Marker({position:myCenter});
		  marker.setMap(map);
		}
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmjFijuozw5beUzVgLy9HtfrbgTCR1K6I&callback=myMap"></script>
<div> -->
	<div class="row">
	<!-- Don't ask my why but it breaks without this -->
	{% if user.profile.user_type == 'STUDENT' %}
		<div class="col-sm-12">
			<h3>Here are all the colleges in your city!</h3>

			<a href="{{ '' }}?sort=name" class="btn btn-default btn-sm" role="button">Sort By Name Ascending</a>
			<a href="{{ '' }}?sort=-name" class="btn btn-default btn-sm" role="button">Sort By Name Descending</a>
			<a href="{{ '' }}?sort=pk" class="btn btn-default btn-sm" role="button">Sort By Oldest Added</a>
			<a href="{{ '' }}?sort=-pk" class="btn btn-default btn-sm" role="button">Sort By Newest Added</a>
		</div>
	{% endif %}
		{% if user.profile.user_type == 'STUDENT' %}
			{% if college_list %}
				{% for college in college_list %}
					
					<div class="col-sm-4 col-lg-2">
						<a href="{% url 'Website:detail' college.id %}">
							<img src="{{ college.image }}" class="img-responsive" style="width:200px;height:200px">
						</a>
						<div class="caption">
							<h2>{{ college.name }}</h2>
							<h4>{{ college.address }}</h4>

							<!-- View Details -->
							<a href="{% url 'Website:detail' college.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
						</div>
					</div>
				{% endfor %}
        {% endif %}<br/>
		<h4>Click on a city to view more information about it</h4>
	{% endif %}	
	</div>
	
	
	<div class="row">
	<!-- Don't ask my why but it breaks without this -->
	{% if user.profile.user_type == 'TOURIST' %}
	<div class="col-sm-12">
		<h3>Here are all the Malls</h3>
		<a href="{{ '' }}?sort=name" class="btn btn-default btn-sm" role="button">Sort By Name Ascending</a>
		<a href="{{ '' }}?sort=-name" class="btn btn-default btn-sm" role="button">Sort By Name Descending</a>
		<a href="{{ '' }}?sort=pk" class="btn btn-default btn-sm" role="button">Sort By Oldest Added</a>
		<a href="{{ '' }}?sort=-pk" class="btn btn-default btn-sm" role="button">Sort By Newest Added</a>
	</div>
	{% endif %}	
		{% if user.profile.user_type == 'TOURIST' %}
			{% if mall_list %}
				{% for mall in mall_list %}
					
					<div class="col-sm-4 col-lg-2">
						<a href="">
							<img src="{{ mall.image }}" class="img-responsive" style="width:200px;height:200px">
						</a>
						<div class="caption">
							<h2>{{ mall.name }}</h2>
							<h4>{{ mall.address }}</h4>

							<!-- View Details -->
							<a href="{% url 'Website:detail' mall.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			<br/>
		<h4>Click on a city to view more information about it</h4>
		{% endif %}
			</div>

	<div class="row">
	<!-- Don't ask my why but it breaks without this -->
		<!-- Don't ask my why but it breaks without this -->
	{% if user.profile.user_type == 'BUSINESS' %}
	<div class="col-sm-12">
		<h3>Here are all the Hotels in your city!</h3>
		<a href="{{ '' }}?sort=name" class="btn btn-default btn-sm" role="button">Sort By Name Ascending</a>
		<a href="{{ '' }}?sort=-name" class="btn btn-default btn-sm" role="button">Sort By Name Descending</a>
		<a href="{{ '' }}?sort=pk" class="btn btn-default btn-sm" role="button">Sort By Oldest Added</a>
		<a href="{{ '' }}?sort=-pk" class="btn btn-default btn-sm" role="button">Sort By Newest Added</a>
	</div>
	{% endif %}	
		{% if user.profile.user_type == 'BUSINESS' %}
			{% if hotel_list %}
				{% for hotel in hotel_list %}
					
					<div class="col-sm-4 col-lg-2">
						<a href="">
							<img src="{{ hotel.image }}" class="img-responsive" style="width:200px;height:200px">
						</a>
						<div class="caption">
							<h2>{{ hotel.name }}</h2>
							<h4>{{ hotel.address }}</h4>

							<!-- View Details -->
							<a href="{% url 'Website:detail' hotel.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			&nbsp;
		<h4>Click on a city to view more information about it</h4>
		{% endif %}
    </div>

	<!-- Not Logged In -->
	{% if user.profile.user_type == false %}
	<h3>Please log in to view city information</3>
	{% endif %}
	 <div class="col-sm-12">
        {% if not user.profile.user_type %}
            <center>
                <br>
                <a href="/Website/login">Click here to Login</a>
                <br>
                <a href="/Website/register">Don't have an account? Click here!</a>

            </center>
        {% endif %}
    </div>
</div>

{%  endblock %}

