{% extends 'Website/base.html' %}

{% block body %}
<div>
	<div class="row">
	<!-- Don't ask my why but it breaks without this -->
	{% if user.profile.user_type == 'STUDENT' %}
		<div class="col-sm-12">
			<h3>Here are all the colleges</h3>
		</div>
	{% endif %}
		{% if user.profile.user_type == 'STUDENT' %}
			{% if college_list %}
				{% for college in college_list %}
					
					<div class="col-sm-4 col-lg-2">
						<a href="{% url 'Website:detail' college.id %}">
							<img src="{{ college.image }}" class="img-responsive" style="width:200px;height:200px">
						</a>
						<div class="caption">
							<h2>{{ college.name }}</h2>
							<h4>{{ college.address }}</h4>

							<!-- View Details -->
							<a href="{% url 'Website:detail' college.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

							<!-- Edit College -->
							<a href="#" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-cog"></span>
							</a>

							<!-- Delete College -->
							<a href="#" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</div>
					</div>
				{% endfor %}

			{% else %}
            <div class="col-sm-12">
                <br>
                <a href="#">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                    </button>
                </a>
            </div>
	
        {% endif %}
	{% endif %}	
	</div>
	
	
	<div class="row">
	<!-- Don't ask my why but it breaks without this -->
	{% if user.profile.user_type == 'STUDENT' %}
	<div class="col-sm-12">
		<h3>Here are all the Malls</h3>
	</div>
	{% endif %}	
		{% if user.profile.user_type == 'TOURIST' %}
			{% if mall_list %}
				{% for mall in mall_list %}
					
					<div class="col-sm-4 col-lg-2">
						<a href="">
							<img src="{{ mall.image }}" class="img-responsive" style="width:200px;height:200px">
						</a>
						<div class="caption">
							<h2>{{ mall.name }}</h2>
							<h4>{{ mall.address }}</h4>

							<!-- View Details -->
							<a href="" class="btn btn-primary btn-sm" role="button">View Details</a>

							<!-- Edit College -->
							<a href="#" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-cog"></span>
							</a>

							<!-- Delete College -->
							<a href="#" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</div>
					</div>
				{% endfor %}

			{% else %}
				<div class="col-sm-12">
					<br>
					<a href="#">
						<button type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
						</button>
					</a>
				</div>
			{% endif %}
		{% endif %}		
    </div>
	
	<div class="row">
	<!-- Don't ask my why but it breaks without this -->
	{% if user.profile.user_type == 'BUSINESS' %}
		<div class="col-sm-12">
			<h3>Here are all the Hotels</h3>
		</div>
	{% endif %}
		{% if user.profile.user_type == 'BUSINESS' %}
			{% if hotel_list %}
				{% for hotel in hotel_list %}
					
					<div class="col-sm-4 col-lg-2">
						<a href="">
							<img src="{{ hotel.image }}" class="img-responsive" style="width:200px;height:200px">
						</a>
						<div class="caption">
							<h2>{{ hotel.name }}</h2>
							<h4>{{ hotel.address }}</h4>

							<!-- View Details -->
							<a href="" class="btn btn-primary btn-sm" role="button">View Details</a>

							<!-- Edit College -->
							<a href="#" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-cog"></span>
							</a>

							<!-- Delete College -->
							<a href="#" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</div>
					</div>
				{% endfor %}

			{% else %}
				<div class="col-sm-12">
					<br>
					<a href="#">
						<button type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
						</button>
					</a>
				</div>
			{% endif %}
		{% endif %}		
    </div>
</div>
{%  endblock %}
